In [1]:
DB_USER = 'huyvu'
DB_PASSWORD = 'password'
USER = 'huyvu'
db_name='raw_data'
table='raw_data'
from sqlalchemy import create_engine
import pandas as pd
def load_data(query: str, db_uri: str):
    engine = create_engine(db_uri)
    conn = engine.raw_connection()
    df = pd.read_sql(query, con=conn)
    conn.close()
    return df

In [2]:
db_uri = f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@localhost:5432/{db_name}"
query = f"SELECT * FROM {table}"

In [3]:
import gspread
import pandas as pd
import logging
SHEET_NUMBER = 'Sheet4'


def fetch_data_from_google_sheets(sheet_id, expected_columns):
    """
    Fetches data from the configured Google Sheet and converts specific columns to appropriate types.
    """
    if not sheet_id:
        logging.error("Missing required environment variable: GOOGLE_SHEET_ID")
        raise ValueError("GOOGLE_SHEET_ID environment variable not set.")

    try:
        url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={SHEET_NUMBER}"
        df = pd.read_csv(url)
    except gspread.exceptions.APIError as e:
        logging.error(f"Google Sheets API error: {e}")
        raise
    except Exception as e:
        logging.error(f"Error connecting to or reading from Google Sheets: {e}")
        raise

    if len(df)==0:
        logging.warning("No data found in the Google Sheet.")
        return pd.DataFrame()

    # df = pd.DataFrame(data)
    logging.info(f"Fetched {len(df)} rows from Google Sheet.")

    # Verify required columns exist
    missing_cols = [col for col in expected_columns if col not in df.columns]
    if missing_cols:
        logging.error(f"Missing expected columns in fetched data: {missing_cols}.")
        raise

    # Convert empty strings to None 
    df = df.replace('', None)

    # --- Specific Data Type Conversion ---
    logging.info("Converting data types for specific columns...")

    # logging.info(f"Data types converted. DataFrame info:\n")
    df.info(verbose=True, show_counts=True) 
    logging.info(f"DataFrame head:\n{df.head().to_string()}")

    # Reorder columns to expected order if necessary 
    present_expected_cols = [col for col in expected_columns if col in df.columns]
    df = df[present_expected_cols]
    df.rename(columns={'Time': 'time'}, inplace= True)

    return df

expected_columns = ['Time', 'listing_symbol', 'listing_ceiling', 'listing_floor',
       'listing_ref_price', 'listing_stock_type', 'listing_exchange',
       'listing_trading_status', 'listing_security_status',
       'listing_last_trading_date', 'listing_listed_share',
       'listing_sending_time', 'listing_type', 'listing_organ_name',
       'listing_mapping_symbol', 'listing_product_grp_id', 'listing_partition',
       'listing_index_type', 'listing_trading_date',
       'listing_lst_trading_status', 'bid_ask_transaction_time',
       'match_accumulated_value', 'match_accumulated_volume',
       'match_accumulated_value_g1', 'match_accumulated_volume_g1',
       'match_avg_match_price', 'match_current_room',
       'match_foreign_buy_volume', 'match_foreign_sell_volume',
       'match_foreign_buy_value', 'match_foreign_sell_value', 'match_highest',
       'match_lowest', 'match_match_price', 'match_match_type',
       'match_match_vol', 'match_sending_time', 'match_total_room',
       'match_total_buy_orders', 'match_total_sell_orders', 'match_bid_count',
       'match_ask_count', 'match_underlying', 'match_open_interest',
       'match_stock_type', 'match_partition', 'match_is_match_price',
       'match_ceiling_price', 'match_floor_price', 'match_reference_price',
       'bid_ask_bid_1_price', 'bid_ask_bid_1_volume', 'bid_ask_bid_2_price',
       'bid_ask_bid_2_volume', 'bid_ask_bid_3_price', 'bid_ask_bid_3_volume',
       'bid_ask_ask_1_price', 'bid_ask_ask_1_volume', 'bid_ask_ask_2_price',
       'bid_ask_ask_2_volume', 'bid_ask_ask_3_price', 'bid_ask_ask_3_volume']

In [4]:
df = fetch_data_from_google_sheets("1yjmPxKbNBRD6DACtkq4l_Xp9O7ldmWujypKE9NhC6Z0", expected_columns=expected_columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4447 entries, 0 to 4446
Data columns (total 62 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Time                         4447 non-null   object
 1   listing_symbol               4447 non-null   object
 2   listing_ceiling              4447 non-null   int64
 3   listing_floor                4447 non-null   int64
 4   listing_ref_price            4447 non-null   int64
 5   listing_stock_type           4447 non-null   object
 6   listing_exchange             4447 non-null   object
 7   listing_trading_status       4447 non-null   object
 8   listing_security_status      4447 non-null   object
 9   listing_last_trading_date    0 non-null      float64
 10  listing_listed_share         4447 non-null   int64
 11  listing_sending_time         4447 non-null   object
 12  listing_type                 4447 non-null   object
 13  listing_organ_name           4447 non-null   object
 14  listing_mapping_symbol       0 non-null      float64
 15  listing_product_grp_id       4447 non-null   object
 16  listing_partition            4447 non-null   int64
 17  listing_index_type           0 non-null      float64
 18  listing_trading_date         4447 non-null   object
 19  listing_lst_trading_status   0 non-null      float64
 20  bid_ask_transaction_time     4447 non-null   int64
 21  match_accumulated_value      4447 non-null   float64
 22  match_accumulated_volume     4447 non-null   int64
 23  match_accumulated_value_g1   4447 non-null   float64
 24  match_accumulated_volume_g1  4447 non-null   int64
 25  match_avg_match_price        4447 non-null   float64
 26  match_current_room           4447 non-null   int64
 27  match_foreign_buy_volume     4447 non-null   int64
 28  match_foreign_sell_volume    4447 non-null   int64
 29  match_foreign_buy_value      4447 non-null   int64
 30  match_foreign_sell_value     4447 non-null   int64
 31  match_highest                4447 non-null   int64
 32  match_lowest                 4447 non-null   int64
 33  match_match_price            4447 non-null   int64
 34  match_match_type             4447 non-null   object
 35  match_match_vol              4447 non-null   int64
 36  match_sending_time           4447 non-null   object
 37  match_total_room             4447 non-null   int64
 38  match_total_buy_orders       4447 non-null   int64
 39  match_total_sell_orders      4447 non-null   int64
 40  match_bid_count              4447 non-null   int64
 41  match_ask_count              4447 non-null   int64
 42  match_underlying             0 non-null      float64
 43  match_open_interest          0 non-null      float64
 44  match_stock_type             4447 non-null   object
 45  match_partition              4447 non-null   int64
 46  match_is_match_price         4447 non-null   bool
 47  match_ceiling_price          4447 non-null   int64
 48  match_floor_price            4447 non-null   int64
 49  match_reference_price        4447 non-null   int64
 50  bid_ask_bid_1_price          4447 non-null   int64
 51  bid_ask_bid_1_volume         4447 non-null   int64
 52  bid_ask_bid_2_price          4447 non-null   int64
 53  bid_ask_bid_2_volume         4447 non-null   int64
 54  bid_ask_bid_3_price          4447 non-null   int64
 55  bid_ask_bid_3_volume         4447 non-null   int64
 56  bid_ask_ask_1_price          4447 non-null   int64
 57  bid_ask_ask_1_volume         4447 non-null   int64
 58  bid_ask_ask_2_price          4447 non-null   int64
 59  bid_ask_ask_2_volume         4447 non-null   int64
 60  bid_ask_ask_3_price          4447 non-null   int64
 61  bid_ask_ask_3_volume         4447 non-null   int64
dtypes: bool(1), float64(9), int64(38), object(14)
memory usage: 2.1+ MB

In [10]:
# import psycopg2

# db_config = {
#         'dbname': db_name,
#     'user': DB_USER,
#     'password': DB_PASSWORD,
#     'host': 'localhost',
#     'port': 5432
# }

# conn = psycopg2.connect(**db_config)
# cur = conn.cursor()

# # # Fetch existing 'time' values
# # cur.execute(f"SELECT * FROM {table}")
# # existing_times = set(str(row[0]) for row in cur.fetchall())

# db_uri = f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@localhost:5432/{db_name}"
# query = f"SELECT * FROM {table}"

# existing_df = load_data(query, db_uri)

# # Filter out rows with existing 'time' values
new_rows = df[~df['time'].isin(existing_df['time'])]


tuples = [tuple(x) for x in new_rows.to_numpy()]
cols = ', '.join(new_rows.columns)
placeholders = ', '.join(['%s'] * len(new_rows.columns))
query = f"INSERT INTO {table} ({cols}) VALUES ({placeholders})"

In [14]:
cur.executemany(query, tuples)
conn.commit()

NumericValueOutOfRange: integer out of range

In [15]:
new_rows.describe(include='all')

,time,listing_symbol,listing_ceiling,listing_floor,listing_ref_price,listing_stock_type,listing_exchange,listing_trading_status,listing_security_status,listing_last_trading_date,...,bid_ask_bid_2_price,bid_ask_bid_2_volume,bid_ask_bid_3_price,bid_ask_bid_3_volume,bid_ask_ask_1_price,bid_ask_ask_1_volume,bid_ask_ask_2_price,bid_ask_ask_2_volume,bid_ask_ask_3_price,bid_ask_ask_3_volume
count,4447,4447,4447.000000,4447.000000,4447.000000,4447,4447,4447,4447,0.0,...,4447.000000,4447.000000,4447.000000,4447.000000,4447.000000,4447.000000,4447.000000,4447.000000,4447.000000,4447.000000
unique,4447,1,NaN,NaN,NaN,1,1,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2025-05-09 14:59:54,FPT,NaN,NaN,NaN,STOCK,HSX,TRADING_ACTIVATED,N,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,4447,NaN,NaN,NaN,4447,4447,4447,4447,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,119052.867101,103572.408365,111312.637733,NaN,NaN,NaN,NaN,NaN,...,111709.152237,39675.376658,111607.982910,38543.512480,111924.016191,27163.975714,112024.893186,36916.415561,112124.915673,43448.099843
std,NaN,NaN,2386.016060,2004.253490,2195.134775,NaN,NaN,NaN,NaN,NaN,...,2548.306905,41106.934306,2548.757409,45662.093485,2538.808766,33570.442414,2538.169895,45520.409628,2538.147963,49160.639539
min,NaN,NaN,117300.000000,102100.000000,109700.000000,NaN,NaN,NaN,NaN,NaN,...,108800.000000,100.000000,108700.000000,100.000000,109000.000000,100.000000,109100.000000,100.000000,109200.000000,100.000000
25%,NaN,NaN,117300.000000,102100.000000,109700.000000,NaN,NaN,NaN,NaN,NaN,...,109300.000000,13550.000000,109200.000000,12200.000000,109500.000000,5500.000000,109600.000000,14200.000000,109700.000000,12700.000000
50%,NaN,NaN,117300.000000,102100.000000,109700.000000,NaN,NaN,NaN,NaN,NaN,...,110300.000000,27700.000000,110200.000000,28700.000000,110500.000000,17200.000000,110600.000000,23500.000000,110700.000000,25300.000000
75%,NaN,NaN,122300.000000,106300.000000,114300.000000,NaN,NaN,NaN,NaN,NaN,...,114000.000000,51400.000000,113900.000000,43600.000000,114200.000000,32250.000000,114300.000000,39900.000000,114400.000000,53700.000000
max,NaN,NaN,122300.000000,106300.000000,114300.000000,NaN,NaN,NaN,NaN,NaN,...,116200.000000,265300.000000,116100.000000,271600.000000,116400.000000,247800.000000,116500.000000,501900.000000,116600.000000,508400.000000

In [16]:
a = ['listing_ceiling', 'listing_floor', 'listing_ref_price',
       'listing_last_trading_date', 'listing_listed_share',
       'listing_mapping_symbol', 'listing_partition', 'listing_index_type',
       'listing_lst_trading_status', 'bid_ask_transaction_time',
       'match_accumulated_value', 'match_accumulated_volume',
       'match_accumulated_value_g1', 'match_accumulated_volume_g1',
       'match_avg_match_price', 'match_current_room',
       'match_foreign_buy_volume', 'match_foreign_sell_volume',
       'match_foreign_buy_value', 'match_foreign_sell_value', 'match_highest',
       'match_lowest', 'match_match_price', 'match_match_vol',
       'match_total_room', 'match_total_buy_orders', 'match_total_sell_orders',
       'match_bid_count', 'match_ask_count', 'match_underlying',
       'match_open_interest', 'match_partition', 'match_ceiling_price',
       'match_floor_price', 'match_reference_price', 'bid_ask_bid_1_price',
       'bid_ask_bid_1_volume', 'bid_ask_bid_2_price', 'bid_ask_bid_2_volume',
       'bid_ask_bid_3_price', 'bid_ask_bid_3_volume', 'bid_ask_ask_1_price',
       'bid_ask_ask_1_volume', 'bid_ask_ask_2_price', 'bid_ask_ask_2_volume',
       'bid_ask_ask_3_price', 'bid_ask_ask_3_volume', 'mid_price',
       'microprice', 'spread_l1', 'relative_spread_l1', 'total_bid_volume_3lv',
       'total_ask_volume_3lv', 'market_depth_value_bid',
       'market_depth_value_ask', 'time']

In [17]:
len(a)

56